body {
    /*font-family: 'Segoe UI', sans-serif;*/
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to bottom, #2B124C, #522B5B);
    margin: 0;
    padding: 40px;
    min-height: 100vh;
    color: #FBE4D8;
}

/* Центрування інтерфейсу */
.all {
    /*max-width: 600px;*/
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Інпут для задачі */
.taskInput, .taskTime {
    padding: 12px 16px;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
    background-color: #DFB6B2;
    color: #190019;
    font-size: 16px;
    width: calc(50% - 20px);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

/* Кнопка додавання */
.addTaskButton {
    padding: 12px 20px;
    background-color: #854F6C;
    color: #FBE4D8;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.addTaskButton:hover {
    background-color: #DFB6B2;
    color: #190019;
}

/* Список задач */
.taskList {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

/* Окрема задача */
.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B124C;
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 12px;
    color: #FBE4D8;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* Текст задачі */
.taskText, .taskDate {
    margin: 0 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FBE4D8;;
}

/* Чекбокс */
.taskCheckbox {
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #DFB6B2;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}


/* Кнопки редагування/видалення */
.deleteTaskButton, .editTaskButton {
    background-color: #DFB6B2;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    color: #190019;
    font-weight: bold;
    transition: 0.3s;
}
.deleteTaskButton:hover {
    background-color: #854F6C;
    color: #FBE4D8;
}
.editTaskButton:hover {
    background-color: #FBE4D8;
}
